<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10%;">
  <mat-card class=" col-lg-5 box">
    <div class="row">
      <h3 style="color: indigo; font-weight: 600; text-align: center !important;">Register</h3>
    </div>
    <form #rest="ngForm" (ngSubmit)="userSignUp(rest.value)">
      <mat-card-content fxLayout="column">
        <mat-form-field>
          <input matInput type="text" placeholder="First Name" name="firstName" required ngModel>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" type="text" name="lastName" required ngModel>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" type="email" name="email" required ngModel>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" name="password" required ngModel>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-raised-button color="primary" type="submit" style="width: 30%">Register</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
